<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
    	<h2>Nos presentamos</h2>
    	<p>Motivante introducción, un <strong>equipo genial!</strong></p>
    	<h2>A codear!</h2>
    	<p>El paso a paso estaba servido aqui <br /> <a href="https://argentinaenpython.com/django-girls/tutorial/">guía</a></p>
    	<h2>Por supuesto a disfrutar</h2>
    	<p>Hola todos!</p>
        <p>Buena comida</p>
        <p>Ambiente genial!</p>
        </div>
    </body>
</html>